n8n/work flow n8n.json
{
  "name": "P10 - API Reliability Workflow - Communication Protocols",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clientId",
              "name": "clientId",
              "value": "={{ $json.body.clientId || 'demo-client' }}",
              "type": "string"
            },
            {
              "id": "scenario",
              "name": "scenario",
              "value": "={{ $json.body.scenario || 'rate-limit' }}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "P10 - API Reliability",
              "type": "string"
            },
            {
              "id": "rpsMapping",
              "name": "rpsMapping",
              "value": "Rate Limiting, Load Balancing, HTTP Status Code, Evidence",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "273fc639-6449-4f35-945d-6f06e8b35b24",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        16
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8088/api/reliability/rate-limited",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c129458e-c18c-4bae-b16a-9e1931322e0e",
      "name": "Call Reliability API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "smaller",
              "value2": 400
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "e76ad04c-fa88-42bb-9c04-b4e8491201d7",
      "name": "Check Status Code < 400",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -16,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflowResult",
              "name": "workflowResult",
              "value": "SUCCESS",
              "type": "string"
            },
            {
              "id": "teachingPoint",
              "name": "teachingPoint",
              "value": "Status < 400 means the backend API accepted the request.",
              "type": "string"
            },
            {
              "id": "backendStatusCode",
              "name": "backendStatusCode",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "63dd0de8-2057-4515-aeb2-5d4d74467d48",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a6e1e7f3-a3fb-4454-99ab-7f3ae2c61e50",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflowResult",
              "name": "workflowResult",
              "value": "RETRY_NEEDED_OR_FAILED",
              "type": "string"
            },
            {
              "id": "teachingPoint",
              "name": "teachingPoint",
              "value": "429 means Too Many Requests; the client should wait before retrying.",
              "type": "string"
            },
            {
              "id": "backendStatusCode",
              "name": "backendStatusCode",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "94a7e819-738a-4bb5-b447-d0cda84950e0",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "726e35b7-856a-420c-9510-4c811871ab3f",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        128
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "commproto-p10",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a7073031-9d5f-4b76-9f97-2419cf6fb76d",
      "name": "Webhook - P10 API Reliability",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        16
      ],
      "webhookId": "commproto-p10"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Call Reliability API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reliability API": {
      "main": [
        [
          {
            "node": "Check Status Code < 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Code < 400": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - P10 API Reliability": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a496ec6a-b3ea-4417-9a7f-56d424fbba74",
  "meta": {
    "instanceId": "686359ae7af43b2f35264b802c5c1d45b65e0967311ab1ee40c2160e47c7b1d7"
  },
  "nodeGroups": [],
  "id": "jS9E5cEee9Vsy6Jc",
  "tags": []
}